<div ng-include="'views/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Portfolio Summary</h2>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                Select Portfolio:
                                <select ng-model="portfolio"
                                        ng-change="updatePortfolio()"
                                        ng-options="port as port.title for port in portfolios">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class='pull-right' ng-controller="ClockController">
                                <p>{{ clock  | date:'medium'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <canvas id="base" class="chart-base" chart-type="type" data="data"
                                    labels="labels" legend="true"></canvas>
                        </div>
                        <div class="col-md-4">
                            <select ng-model="currency"
                                    ng-change="changeCurrency(currency)"
                                    ng-options="cur for cur in currencies"
                                    class="pull-right">
                            </select>
                            <tabset>
                                <tab heading="Distribution">
                                    <table class="table table-responsive">
                                        <tr ng-repeat="invest in investments">
                                            <td>{{ invest[0] }}</td>
                                            <td>{{ invest[2] | percentage: 2 }}</td>
                                        </tr>
                                    </table>
                                </tab>
                                <tab heading="Value">
                                    <table class="table table-responsive">
                                        <tr ng-repeat="invest in investments">
                                            <td>{{ invest[0] }}</td>
                                            <td>{{ invest[1] | currency: currency+' ' }}</td>
                                        </tr>
                                    </table>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Research Overview</h2>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4>How To Invest Your $200,000,000 Portfolio</h4>

                                    <h5> Tan Jia Jing
                                        <small>Elite analyst</small>
                                    </h5>

                                    <p>The average asset allocation of this select group looks like the pie
                                        chart nearby.Just
                                        eyeballing the data, my guess is that they have higher allocations to hedge
                                        funds (18%)
                                        and
                                        private equity (10%) than you do. You probably have close to a zero allocation
                                        to
                                        venture
                                        capital rather than their 2%, and a zero investment in “Direct Investments in
                                        Private
                                        Companies.” I’m not sure what that 1% investment in “Other” is.</p>
                                </div>
                                <div class="col-md-4"><img class="img-responsive" src="img/super-rich.jpg" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h3 style="text-align: center;">Market Overview</h3>
                                    <div class="col-md-12"><img class="img-responsive" src="img/greeknegotiations.jpg" alt=""/></div>
<br>
                                    <h4>Schaeuble Calls Time on Greek Negotiations as ATMs Empty</h4>
                                    <h5>Derrick Goh <small>Vice-President, European Market Research</small></h5>
        <p>Euro-area finance chiefs said they’d refuse to enter into further negotiations with Greece over the terms of its aid program,
            as queues formed outside ATMs in Athens amid public concern the financial system will go into meltdown.</p>

                                </div>
                                <div class="col-sm-4">
                                    <h3 style="text-align: center;">Top Players</h3>
                                    <div class="col-md-12"><img class="img-responsive" src="img/ler.jpg" alt=""/></div>
                                    <br>
                                    <h4>China and Arabic Markets set to soar: Zac</h4>
                                    <h5>Ler Ze Chen <small>Market Analyst</small></h5>
                                    <p>FOR hundreds of years travellers have haggled over carpets, jewellery, spices and copperwork in the winding alleyways of Khan al-Khalili, Cairo’s traditional souk.
                                        Today the goods are more likely to have been mass-made in a factory in China than handcrafted in a local workshop.</p>

                                </div>
                                <div class="col-sm-4">
                                    <h3 style="text-align: center;">CIO Weekly</h3>
                                    <div class="col-md-12"><img class="img-responsive" src="img/0eab72a.jpg" alt=""/></div>
                                    <br>
                                    <h4>Oil, Currency Moves Illustrate Recent Themes,
                                        Risks, Opportunities</h4>
                                    <h5>Edison LIM <small>Chief Investment Officer, Elite Bank</small></h5>
                                    <p>Recent big moves in the oil and currency markets help illustrate Insights themes
                                        we’ve discussed over the past six months regarding global divergence and
                                        normalizing markets. These oil and dollar moves, which are related, represent
                                        increased risks and volatility, but they can also open up areas of differentiation
                                        and windows of opportunity for active investment managers in a variety of
                                        markets and investment disciplines..</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-controller="FeedCtrl">
            <h3>
                Top news
                <button type="button" class="btn btn-default btn-xs" aria-label="Refresh" ng-click="loadFeed()">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>

            </h3>
            <div class="row-fluid">
                <ul class="list-unstyled">
                    <span class="badge badge-warning" ng-show="feeds.length > 0">{{(feeds | filter:filterText).length}} Items</span>
                    <li ng-repeat="feed in feeds | filter:filterText">
                        <h5><a href="{{feed.link}}">{{feed.title}}</a></h5>

                        <p class="text-left">{{feed.contentSnippet}}</p>
                        <span class="small">{{feed.publishedDate}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>