<div class="full-page login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="/"><b>Elite</b>Bank</a>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">You are in a secured site.</p>
			<form name='loginForm' ng-model='user' ng-submit='loginForm.$valid && login(user)'>
				<div class="form-group has-feedback">
					<input type="text" ng-model='user.username' class="form-control" placeholder="User ID" /> <span
						class="glyphicon glyphicon-user form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" ng-model='user.password' class="form-control" placeholder="PIN" valid-number/>
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-8">
						<a href="#/">I forgot my password</a><br>
					</div>
					<!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Sign
							In</button>
					</div>
					<!-- /.col -->
				</div>
			</form>

			

		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->
</div>